body {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
}

nav {
	font-size: 24px;
}

header {
	display: flex;
	align-items: center;
}

header h1 {
	margin-right: 20px;
}